<form name="empform" #form="ngForm">
    <!--employee id-->
    <input type="hidden" name="EmployeeId" [ngModel]="empService.formData.EmployeeId" />

    <!--employee name-->
    <div class="form-group">

        <label>Full Name</label>
        <input name="EmployeeName" #EmployeeName="ngModel" [ngModel]="empService.formData.EmployeeName"
            class="form-control" placeholder="Enter full name" minlength="10" maxlength="25" required
            [ngClass]="{'is-invalid':EmployeeName.touched && EmployeeName.invalid}" />
            <div class="validation-error" *ngIf="EmployeeName.touched && EmployeeName.invalid">
               
               <div *ngIf="EmployeeName.errors.required">
                First Name is required</div>
            </div>
    </div>
</form>